@media (min-width: 350px) and (max-width: 480px) {
  .detail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .distance {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .distance-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  .schedule {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .schedule-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}